﻿<md-content layout-padding>
    <div id="newsletterForm">
        <form name="newsletterForm" ng-submit="submit(newsletterForm.$valid)" layout="column" novalidate>
            <md-input-container>
                <label>Email</label>
                <input name="email" ng-model="subscription.email" type="email"
                       required minlength="4" maxlength="100" ng-pattern="/^.+@.+\..+$/">
                <div ng-messages="newsletterForm.email.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Your email must be between 4 and 100 characters long and look like an e-mail address
                        eg. john@doe.com.
                    </div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>How did you hear about us?</label>
                <md-select name="source" ng-model="subscription.sourceId" required>
                    <md-option ng-repeat="source in sources" value="{{source.Id}}">
                        {{source.Name}}
                    </md-option>
                </md-select>
                <div ng-messages="newsletterForm.source.$error" role="alert">
                    <div ng-message="required">
                        This field is required.
                    </div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Why are you singing up?</label>
                <textarea class="reason-text-area"ng-model="subscription.reason" 
                          md-maxlength="150" rows="3" md-select-on-focus></textarea>
            </md-input-container>
            <div layout="row">
                <md-button ng-disabled="loading" class="md-raised md-primary" type="submit">Sign In</md-button>
                <span flex></span>
                <md-progress-circular ng-if="loading" md-mode="indeterminate"></md-progress-circular>
            </div>
        </form>
    </div>
</md-content>